* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* css reset */
}

header {
    background: linear-gradient(to right, navy, whitesmoke);
    height: 5rem;
}

.srchbox {
    margin-left: 1rem;
}

.today {
    /* add styling to the today card */
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-bottom: 10px;
    padding-top: 10px;
    border: solid black 5px;
    border-radius: 20px;
}

.fiveday {
    /* adds styling to the defualt five day */
    background-color: navy;
    color: whitesmoke;
   align-items: center;
}

#future-forecast {
    background-color: navy;
    color: whitesmoke;
    align-items: center;
}

.future {
    float: left;
    margin-top: 3rem;
}

aside {
    margin-top: 3rem;
    border: solid black 5px;
    border-radius: 20px;

}

#pick-title {
    margin-top: 1rem;
    margin-left: 1rem;
}

#city-search {
    margin-top: 1rem;
    margin-left: 1rem;

}

#searchbutton {
    margin-top: 1rem;
    margin-left: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

}

.cityList {
    margin-top: 1rem;
    margin-left: 1rem;
}

#clear-button {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

